<div class="container-fluid">
  <form [formGroup]="form">
    <div class="row">
      @for (control of formConfig().controls; track $index) {
        <div class="col-{{ control?.colWidth ? control.colWidth : 'auto' }}">
          <mat-form-field
            class="w-{{
              control?.elementWidth ? control.elementWidth : 'auto'
            }}"
          >
            @switch (control.type) {
              @case (FormComposerControlType.INPUT) {
                <input
                  matInput
                  [placeholder]="control.label"
                  [formControlName]="control.name"
                />
              }
            }
          </mat-form-field>
        </div>
      }
    </div>
  </form>
</div>
